.status{
    padding: 3px 12px;
    border-radius: 12px;
    font-weight: 600;
}

.NEW{
    background-color: lightblue;
    color: rgb(0, 103, 134);
}

.PENDING{
    background-color: 	#f3deb6;
    color: #8c6936
}

.CONFIRMED{
    background-color: #e3f7de;
    color: #5f9048;
}

.REJECTED , .ERROR{
    background-color: #f1d6d8;
    color: #8d2e38;
}

.EXPIRED , .ABANDONED{
    background-color: #d3d4d9;
    color: #3a3f4f;
}

.paynowDonationsTable tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
    filter: brightness(95%);
}

.sortButton{
    margin-left: 8px;
    margin-right: 0;
}

.paynowDonationsTable th:has(.currentSortButton) {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -3px 0 #0073aa;
}