*{
    box-sizing: border-box;
}

.donations-for-paynow-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.donations-for-paynow-form input{
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 16px;
}

.donations-for-paynow-form label{
    font-size: 16px;

}

.donations-for-paynow-form button{
    width: 100%;
    font-size: 24px;
    padding: 16px 24px;
    border-radius: 16px;
    font-weight: 700;
}

.donations-for-paynow-form-fieldset{
    width: 100%;
    
}

#donations_for_paynow_return_main_div{
    text-align: center;
    width: 100dvw;
}

.donationsforPaynowReturnButton{
    font-size: 24px;
    padding: 8px 16px;
}